In [67]:
import pandas as pd
import numpy as np
import statistics as stat
import seaborn as sns
import scipy.stats as scipy
import matplotlib.pyplot as plt
from scipy import stats
from scipy.stats import chi2_contingency

# Question1 cutlets

In [19]:
df1 = pd.read_csv('C:/Users/faraz/Downloads/Cutlets.csv')

In [20]:
df1.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [21]:
df1.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [26]:
Unit_A = df1['Unit A']
Unit_B = df1['Unit B']

In [101]:
t,p_value= stats.ttest_ind(Unit_A,Unit_B)
print(t,p_value)

0.7228688704678063 0.4722394724599501

In [102]:
alpha = 0.05
if p_value > alpha:
    print("There is no significance difference in diameter")
else:
    print("Both the diameters are different")

There is no significance difference in diameter

# Question2

In [34]:
df2 = pd.read_csv('C:/Users/faraz/Downloads/LabTAT.csv')

In [35]:
df2.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [40]:
l1,l2,l3,l4=df2['Laboratory 1'],df2['Laboratory 2'],df2['Laboratory 3'],df2['Laboratory 4']

In [104]:
f,p_value1=stats.f_oneway(l1,l2,l3,l4)
print(f,p_value1)

118.70421654401437 2.1156708949992414e-57

In [105]:
if p_value1 > alpha:
    print("All the labs have same Turn around time")
else:
    print("All the labs have different Turn around time")

All the labs have different Turn around time

# Question 3

In [71]:
df3 = pd.read_csv('C:/Users/faraz/Downloads/BuyerRatio.csv')

In [54]:
df3.head()

  Observed Values  East  West  North  South
0           Males    50   142    131     70
1         Females   435  1523   1356    750

In [56]:
M= df3.iloc[0,1:]
F=df3.iloc[1,1:]

In [107]:
##df3.drop(columns=['Observed Values'])

   East  West  North  South
0    50   142    131     70
1   435  1523   1356    750

In [98]:
data = np.array([[50,142,131,70],[435,1523,1356,750]])

In [110]:
chi2, p, dof, expected = stats.chi2_contingency(data)
print(chi2,p,dof,expected)

1.595945538661058 0.6603094907091882 3 [[  42.76531299  146.81287862  131.11756787   72.30424052]
 [ 442.23468701 1518.18712138 1355.88243213  747.69575948]]

In [113]:
if p > alpha:
    print("All proportions are equal")
else:
    print("All propotions are not equal")

All proportions are equal

# Question 4

In [62]:
df4 = pd.read_csv("C:/Users/faraz/Downloads/Costomer+OrderForm.csv")

In [63]:
df4.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [124]:
table  = pd.crosstab(df4['Phillippines'],[df4['Indonesia'],df4['Malta'],df4['India']])

In [128]:
chi4, p4, dof4, expected4 = stats.chi2_contingency(table)
print(chi4,p4,dof4,expected4)

3.1001395592512266 0.6845505149379718 5 [[8.70000000e-01 1.93333333e-01 2.12666667e+00 2.12666667e+00
  1.74000000e+00 2.19433333e+01]
 [8.13000000e+00 1.80666667e+00 1.98733333e+01 1.98733333e+01
  1.62600000e+01 2.05056667e+02]]

In [129]:
if p4 > alpha:
    print("There is no significant association between call center and order form quality.")
else:
    print("There is a significant association between call center and order form quality.")

There is no significant association between call center and order form quality.

In [1]:
pwd()

'C:\\Users\\faraz'